body {
  margin: auto;
  width: 1080px;
  height: auto;
  background-color: #555555;
  border-top: 7px solid black;
  border-right: 7px solid black;
  border-left: 7px solid black;
}

.Header {
  height: 90px;
  border-bottom: 5px solid black;
  background-color: maroon;
}

.Header h1 {
  text-align: center;
  margin: 0px;
  padding-top: 7px;
  width: auto;
  color: white;
  font-size: 60px;
}

.Mission {
  height: 300px;
  padding-top: 10px;
  background-color: white;
}

.Mission h1 {
  padding-left: 100px;
  margin-bottom: 0px;
  font-size: 24pt;
}

.Mission p {
  padding: 0px 100px 0px;
  font-size: 15pt
  text-align: justify;
  text-justify: auto;
  text-indent: 2em;
}

.SiteBanner {
  height: 175px;
  background: linear-gradient(0deg, rgba(45,199,253,1) 0%, rgba(152,228,254,1) 70%, rgba(255,255,255,1) 100%);
  display: flex;
  justify-content: center;
}

.Circles {
  margin-top: 20px;
  padding-top: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.Circle {
  transition: all 0.2s ease-in-out;
  margin: auto;
  width: 150px;
  height: 80px;
  border-radius: 90px;
  background-color: rgb(153, 0, 0);
}

.Circle a {
  vertical-align: middle;
  padding-top: 0px;
  text-decoration: none;
  color: white;
}

.About {
  font-size: 15pt;
  background-color: #139c4d;
  border: 5px solid #136c4d;
  display: flex;
  justify-content: center;
}

.Inits {
  font-size: 15pt;
  background-color: #e06e1c;
  border: 5px solid #c8521c;
  display: flex;
  justify-content: center;
}

.Meets {
  font-size: 15pt;
  background-color: #c91927;
  border: 5px solid #991927;
  display: flex;
  justify-content: center;
}

.Srcs {
  font-size: 15pt;
  background-color: #195fc9;
  border: 5px solid #195f89;
  display: flex;
  justify-content: center;
}

/*
------------------------------------------------------------------------------------------------------------------------------------
*/

.Footer {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: maroon;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
}
