body {
  margin: 0;
  min-width: 960px;
  background-color: #555555;
}

.Header {
  border-top: 5px solid #555555;
  border-left: 5px solid #555555;
  border-right: 5px solid #555555;
}


.Header h1 {
  text-align: center;
  margin: 0px;
  padding-top: 10px;
  width: auto;
  height: 100px;
  background-color: #AAAAAA;
  align-content: center;
  font-size: 60px;
}

.NavBar {
  top: 0;
  position: sticky;
  margin: 0px;
  padding: 10px 0px;
  list-style-type: none;
  background-color: maroon;
  border: 5px solid #555555;
}

.NavBar li {
  margin-right: -4px;
  padding: 0px;
  display: inline;
}

.NavBar li:last-child {
  float: right;
}

.NavBar li a {
  margin: 0px;
  padding: 11px 10px 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-right: 2px solid #555555;
}

.NavBar li a:hover {
  background-color: red;
}

#CurrentPage {
  background-color: black;
}

/*
------------------------------------------------------------------------------------------------------------------------------------
*/

.Subject {
  min-height: 700px;
  margin: -20px 5px 5px;
  padding: 0px 10px 10px 10px;
  background-color: white;
}

.Subject h1 {
  display: flex;
  justify-content: center;
  font-size: 30pt;
}

.Subject div {
  margin-bottom: 40px;
  border: 2px black solid;
}

.CollapsableBlog {
  max-width: 1000px;
  margin: 0px auto 20px;
  padding: 0px;
}

.CollapsableBlog li {
  margin: 10px 20px 0px;
  padding-top: 5pt;
  list-style-type: none;
  background-color: #BBBBBB;
}

.CollapsableItem {
  display: block;
  width: 100%;
  margin-top: -6px;
  padding: 5px 10px 5px;
  font-size: 20pt;
  text-align: left;
  cursor: pointer;
  background-color: #BBBBBB;
  border: 1pt black solid;
}

.active, .inactive:hover {
  background-color: #888888;
}
.active:hover {
  background-color: #666666;
}

.inactive::after {
  content: "+";
  font-weight: bold;
  float: right;
}

.active::after {
  content: "\2212";
}

.CollapsableBlog li p {
  max-height: 0;
  overflow: hidden;
  margin: 0px;
  padding: 0;
  font-size: 15pt;
  background-color: #E8E8E8;
  border: 1pt solid black;
  transition: max-height 0.2s ease-out;
}

.ContactForm {
  padding-bottom: 30px;
  text-align: center;
}

/*
------------------------------------------------------------------------------------------------------------------------------------
*/

.Footer {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: maroon;
  border-left: 5px solid #555555;
  border-right: 5px solid #555555;
  border-bottom: 5px solid #555555;
}
